@font-face {
  font-family: Misto;
  src: url('fonts/Misto.woff2');
}

@font-face {
  font-family: Butler;
  src: url('fonts/Butler.woff2');
}

.app{
  background-color: #FEF7EC;
  height: 100rem;
}
html{
  background-color: #FEF7EC ;
  padding: 0 auto;
  margin: 0px auto;
}
body{
  font-family: Butler;
  color: #f7c46d;
}
header{
  text-align: center;
  background-color: #183E4E;
  height: fit-content;
  padding-top: .5rem;
  padding-bottom: 3rem;
}

h1{
  font-size: 80px;
  padding-bottom: 10px;
  background-color: #183E4E;
  font-family: Misto;
  color: #f7c46d;
  text-shadow: 2px 5px #8daa95;
  letter-spacing: 10px;
}